body{
	background-color: #1a2325;
	color: white;
	margin-right:auto;
	margin-left:auto;
	width:1100px;
	height:2500px;
  
    font-family: LFT Etica;
    margin-top: 300px;


}

   

.container{
    position:relative;
    width:1100px;
    height:700px;
    background-color: #1a2325;
    margin-top:-100px;

}





 .top-left{
  background-color: #1a2325;
 position:absolute;
 padding:20px;
 left:0;
 color:white;
 margin-left:30px;
        
        
    }


.bottom-right{
  position:absolute;
  top:155px;
  background-color: #1a2325;
  right:0px;
  color:white;
width:500px;
height: 500px;
padding-bottom:50px;

}



















p{
padding-right: 500px;
font-size:16px;
color: #6d7171;

}

h1{
	font-family: Quatro Slab;
	font-size: 36px;
}



p.Firstp{


font-weight: bold;
margin-top:-30px;
color: #454a4b;





}


a.made{
	text-decoration: none;
	color: #01ccce;
	font-family: inherit;
	font-size:16px;
}


h2.BUY{
	font-family: Quatro Slab;
	font-size: 24px;
}



.button {

    color: white;
    border: none;
    background-color:#01ccce;;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600 ;
    margin-left:9px;
    
}


a.made:hover{
color:white;
}


a.button:hover{
	color:#1a2325;
}





.logo{
	margin-left:10px;
	width: 100px;
	 height: 100px;
}




.dotted{
	border: .25px dotted #6d7171;
	margin-right:640px;
	margin-top:20px;
}






a.button{
	text-decoration: none;
	color:white;
	font-family: LFT Etica;
	font-size:14px;
}
























