
@font-face {
  font-family: 'FjallaOne';
  src: url('fonts/FjallaOne-Regular.eot');
  src: url('fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FjallaOne-Regular.woff2') format('woff2'),
       url('fonts/FjallaOne-Regular.woff') format('woff'),
       url('fonts/FjallaOne-Regular.ttf') format('truetype'),
       url('fonts/FjallaOne-Regularsvg#FjallaOne-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.eot');
  src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Montserrat-Regular.woff2') format('woff2'),
       url('fonts/Montserrat-Regular.woff') format('woff'),
       url('fonts/Montserrat-Regular.ttf') format('truetype'),
       url('fonts/Montserrat-One-Regularsvg#Montserrat-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}




body{
 font-family:Montserrat;
 background-color: #414042;
 font-size:18px;



}

.welcome p{
  color:#fff200;
line-height: 30px;
font-size:15px;


}







h1{
  font-family:FjallaOne;
  font-size: 36px;
  padding-top:70px;
  font-color: #fff200;
  padding-bottom: 14px;
}

article{
  clear:both;}
 


article{
    margin-right:auto;
    margin-left:auto;
}

a:hover{
color: white;}

 .nav {
    list-style-type: none;
      text-decoration: none;
    line-height: 40px;
     position: fixed;
   color:#fff200;
   padding-top: 180px;}

ul{
  
  padding:65px; 
color:#fff200;
font-family: Montserrat;
font-size:19px;
}


a{
  text-decoration: none;
   color:#fff200;}

.welcome{
  text-align:center;


  }
  
.title{
  font-family:FjallaOne;
  font-size: 120px;
 color:white;
}


.logo{
  width:200px;
  position: fixed;
 

 }


.about img{
  width:200px;
  float:right;
  clear:both;
  padding-left:20px;
  padding-bottom: 10px;


}

.about{
  width:500px;
  float:center;
color:white;
line-height: 25px;
padding-top:22px;}

.about h1{
  color:#fff200;
}






.column img{
width:200px;
  display:inline-block;
    float:left;
    padding:10px;

}



.column ul{
  margin-right: auto;
  margin-left: auto;
  width:900px;
  padding-top: 250px;
  padding-right:10px;


 
 
}

.column h1{
  padding-top:10px;
}
