
@font-face {
  font-family: 'FjallaOne';
  src: url('fonts/FjallaOne-Regular.eot');
  src: url('fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FjallaOne-Regular.woff2') format('woff2'),
       url('fonts/FjallaOne-Regular.woff') format('woff'),
       url('fonts/FjallaOne-Regular.ttf') format('truetype'),
       url('fonts/FjallaOne-Regularsvg#FjallaOne-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}





body{
 font-family:FjallaOne;
 background-color: #C2B59B;
 font-size:20px;
 width:1200px;}

h1{
  font-family:FjallaOne;
  font-size: 36px;
  padding-top:100px;}

article{
  clear:both;}
 
.images{
   float:center;
   width:645px;
   position: relative;
  padding-bottom:350px;}

article{
    margin-right:auto;
    margin-left:auto;
    width: 1100px;}

a:hover{
color: #f8695a;}

 .nav {
    list-style-type: none;
      text-decoration: none;
    line-height: 40px;
     position: fixed;}

ul{
   background-color: #F9ED32; 
  padding:65px; }


a{
  text-decoration: none;
    color:black;}

.welcome{
  text-align:center;
  padding-bottom:350px;
  }
  
.title{
  font-family:FjallaOne;
  font-size: 120px;
   color: #F9ED32;}


.logo{
  width:200px;

 }

.about{
  float:center;
   width:645px;
   position: relative;
  

}
