
@font-face {
  font-family: 'FjallaOne';
  src: url('fonts/FjallaOne-Regular.eot');
  src: url('fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FjallaOne-Regular.woff2') format('woff2'),
       url('fonts/FjallaOne-Regular.woff') format('woff'),
       url('fonts/FjallaOne-Regular.ttf') format('truetype'),
       url('fonts/FjallaOne-Regularsvg#FjallaOne-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}





body{
 font-family:FjallaOne;
 background-color: #414042;
 font-size:20px;

}

.welcome p{
  color:#fff200;
line-height: 30px;

}







h1{
  font-family:FjallaOne;
  font-size: 36px;
  padding-top:70px;
  font-color: #fff200;}

article{
  clear:both;}
 


article{
    margin-right:auto;
    margin-left:auto;
}

a:hover{
color: white;}

 .nav {
    list-style-type: none;
      text-decoration: none;
    line-height: 40px;
     position: fixed;
   color:#fff200;}

ul{
  
  padding:65px; 
color:#fff200;}


a{
  text-decoration: none;
   color:#fff200;}

.welcome{
  text-align:center;


  }
  
.title{
  font-family:FjallaOne;
  font-size: 120px;
 color:white;
}


.logo{
  width:200px;

 }




.about{
  width:500px;
  float:center;


}






.image img{
  padding-top:10px;
  display:block;
  float:right;
  margin-right: auto;
  margin-left:auto;
  padding:10px;
  width:340px;


 }


 .portfolio{
  padding-right:200px;



}
