body{
  background-color: #1a2325;
  color: white;
  font-family: LFT Etica;
  border-top: 5px solid #f8695a;
}


h1{
  font-family: Quatro Slab;
  font-size: 36px;
  padding-top:100px;}

p{
  font-size:16px;
    color: #6d7171;
   width:400px;
padding-bottom:15px;
font-weight: 300;
line-height: 22px;

}





h2{
  border-top:1px dotted #6d7171;
  padding:3px;
  width:400px;

}





article{
   clear:both;



}



article:nth-child(3){
      border-top:1px dotted #6d7171;


}



article:nth-child(4){
      border-top:1px dotted #6d7171;
      



}




  
.image{
  float:right;
   width:645px;
   position: relative;
   bottom:38px;
   padding-bottom:50px;

   
 }




.logo{
    width: 100px;
 
}



.header,article{
 margin-right:auto;
  margin-left:auto;
   width: 1100px;


}






.BUY{
  font-family: Quatro Slab;
  font-size: 36px;
  padding-top:50px;



}






.button {
    color: white;
    border: none;
    background-color:#01ccce;
    font-family: LFT Etica;
    font-weight: 600;
    padding: 15px 28px;
    font-size: 14px;
    font-style: bold;
    margin-left:20px;
    margin-top:-5px;
    text-decoration: none;
     position:absolute;
  }


.button{

background: repeating-linear-gradient(

   45deg, #01ccce,
      #01ccce 1px,
    #01c2c3 1px,
    #01c2c3 2px
    );
 

}






a:hover{
color: #f8695a;


}




.Firstp{
padding-top:10px;
color: #454a4b;}




.made{
  text-decoration: none;
  color: #01ccce;
  font-size:16px;
  font-weight: 300;
  display: inline-block;
  padding-bottom:40px;
  padding-top:30px;
 


}













