
body{
  background-color: #1a2325;
  color: white;
  margin-right:auto;
  margin-left:auto;
  width:1100px;
  height:2500px;
  font-family: LFT Etica;




   
}


.bordertop{
 border-top: 3px solid #f8695a;
 position:absolute;
right:0;
left:0;
}






h1{
  font-family: Quatro Slab;
  font-size: 36px;
  padding-top:50px;

}


h1:nth-child(3){
  width:300px;

}




h2{
  padding-top: 30px;
}




p{
  font-size:16px;
  color: #6d7171;
  width:400px;
  margin-bottom: 15px;
  font-family:inherit;
  font-weight: 400;

  
}

p.Firstp{

padding-top:10px;
color: #454a4b;



}







h2.BUY{
  font-family: Quatro Slab;
  font-size: 24px;

}




a.made{
  text-decoration: none;
  color: #01ccce;
  font-family: inherit;
  font-size:16px;



}










.button {

    color: white;
    border: none;
    background-color:#01ccce;;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600 ;
    margin-left:9px;

    
}


a.made:hover{
color:white;
}


a.button:hover{
  color:#1a2325;
}



.image1{
  float:right;
  clear:both;
  margin-top:-380px;
 width:600px;
 height:800px;
  


}


.image2{
  float:right;
  clear:both;
  margin-top:-340px;
 width:600px;
 height:700px;
  


}



.image3{
  float:right;
  clear:both;
  margin-top:-350px;
  width:600px;
 height:600px;

  


}






.logo{
    width: 100px;
  height: 100px;
}




.dotted{
  border: .25px dotted #6d7171;
  margin-right:710px;
  margin-top:20px;
}






a.button{
  text-decoration: none;
  color:white;
  font-family: LFT Etica;
  font-size:14px;
}





.borderbtm{
    border: 1px dotted #6d7171;
  margin-right:8px;
  margin-top:500px;
  margin-left:3px;
  margin-bottom:35px;



}

.borderbtm:nth-of-type(2){
margin-top:450px;
margin-bottom:50px;



}



















