body{
	background-color: #1a2325;
	color: white;
	margin-right:auto;
	margin-left:auto;
	width:1100px;
	height:2500px;
    border-top: 3px solid #f8695a;
    font-family: LFT Etica;




   
}

h1{
	font-family: Quatro Slab;
	font-size: 36px;
}



p{
	font-size:16px;
	color: #6d7171;
	width:400px;
	padding-top:5px;
	
}

p.Firstp{


font-weight: bold;
margin-top:-30px;
color: #454a4b;





}


a.made{
	text-decoration: none;
	color: #01ccce;
	font-family: inherit;
	font-size:16px;
}


h2.BUY{
	font-family: Quatro Slab;
	font-size: 24px;
}



.button {

    color: white;
    border: none;
    background-color:#01ccce;;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600 ;
    margin-left:9px;
    
}


a.made:hover{
color:white;
}


a.button:hover{
	color:#1a2325;
}



.image1{
  float:right;
  clear:both;
  margin-top:-400px;
  margin-right:30px;
  margin-left:100px;
 width:500px;
 height:700px;
  


}


.image2{
  float:right;
  clear:both;
  margin-top:-400px;
  margin-right:30px;
  margin-left:100px;
 width:500px;
 height:600px;
  


}



.image3{
  float:right;
  clear:both;
  margin-top:-400px;
  margin-right:30px;
  margin-left:100px;
 width:500px;
 height:500px;

  


}






.logo{
	margin-left:40px;
	width: 100px;
	 height: 100px;
}




.dotted{
	border: .25px dotted #6d7171;
	margin-right:640px;
	margin-top:20px;
}






a.button{
	text-decoration: none;
	color:white;
	font-family: LFT Etica;
	font-size:14px;
}





.borderbtm{
    border: 1px dotted #6d7171;
	margin-right:8px;
	margin-top:360px;
	margin-left:3px;
	margin-bottom: 70px;


}

.borderbtm:nth-of-type(2)
{
margin-top:285px;



}

article{
	margin-left:40px;

}






